.card {
    border: 1px solid #ddd; /* рамка для визуального отделения card от других элементов */
    padding: 10px; /* внутренний отступ для контента внутри card */
    box-sizing: border-box; /* чтобы внутренний отступ не увеличивал размеры card */
    width: 250px; /* максимальная ширина card */
    height: 300px;
    vertical-align: top;
    display: inline-block; /* Этот стиль делает элемент блочным, но сохраняет его на той же строке с предыдущим элементом */
    margin: 10px;
}

.card img {
    max-width: 100%; /* максимальная ширина изображения равна ширине card */
    height: 200px; /* сохранение соотношения сторон */
}

/* Дополнительные стили для оформления текста и других элементов внутри card */
.card p {
    margin: 5px 0; /* внешний отступ между параграфами */
}
