<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<form action="#" method="get">
    <input type="text" value="Название книги" >
    <input type="submit" onclick=alert("Скоро")>
</form>

    <div class="card"  th:each="book : ${books}">
        <img th:src="@{'/img/' + ${book.imageName}}" alt="Book Image"/>
        <p th:text="${book.name}"></p>
        <p th:text="${book.author}"></p>
        <p>Рейтинг</p>
    </div>


</body>
</html>